
<%= link_to 'New blog', new_blog_path %>
<h1>Blogs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>

  <% @blogs.each do |blog| %>
    <tr>
      <td><%= blog.blog_name %></td>
      <td><%= blog.blog_content %></td>
      <td><%= link_to 'Show', blog_path(blog) %></td>
    </tr>
  <% end %>
</table>
