<h1>Lessons</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Video</th>
    <th>Download</th>
  </tr>

  <% @lessons.each do |lesson| %>
    <tr>
      <td><%= lesson.title %></td>
      <td><%= lesson.description %></td>
      <td>This is where Video Link Goes</td>
      <td><%= link_to "Download", lesson.image.url(:original, false) %></td>
      <td><%= link_to 'Show', lesson_path(lesson) %></td>

    </tr>
  <% end %>
</table>
