<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<p>
  <strong>Youtube Video Link Goes Here:</strong>

</p>

<p>
  <strong>Button for PDF Download Goes Here:</strong>

</p>

<%= link_to 'Back', lessons_path %>
