<h1>Categories</h1>

<table>
  <tr>
    <th>Category</th>
  </tr>

  <% @category.each do |category| %>
    <tr>
      <td><%= category.category_name %></td>
      <td><%= link_to 'Show', category_path(category) %></td>
    </tr>
  <% end %>
</table>
